nav {
  z-index: 999;
  align-items: center;
  align-content: center;
  align-self: center;
  vertical-align: middle;
}

#search {
  border-radius: 5px;
  outline: 0;
}

#profileContainer {
  border: 1px solid gainsboro;
}
