html,
body {
  background-color: #f0f2f5 !important;
  margin: 0;
  width: 100vw;
}

.image-rounded {
  border-radius: 5rem;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: left;
}

.card-container {
  border-radius: 1rem;
}

.createPost-container {
  align-content: center;
  text-align: center;
  margin-top: 7rem;
}

.posts {
  padding: 0px 2em;
  align-items: left;
  justify-content: left;
  text-align: left;
}
