<div id="create-post" class="container rounded shadow-sm create-post mb-5 mt-5 p-2">
    <div class="d-flex">
        <img height="50" src="<%= currentAccount.pictureUrl %>" class="rounded-circle shadow-sm mr-2"
            alt="profile-picture">
        <!-- <textarea required class="form-control" name="text" id="postTextarea" required
            placeholder="Create post"></textarea> -->
        <input type="text" required class="form-control" name="text" id="postTextarea" placeholder="Create post">
        <button class="btn btn-primary ml-2" id="postButton" type="submit" disabled>Post</button>
    </div>
</div>
<script>
    let postTextListener = document.getElementById("postTextarea");
    let postButtonListener = document.getElementById("postButton");
    postText.addEventListener("keyup", () => {
        if (postTextListener.value.length > 0) {
            postButtonListener.removeAttribute("disabled");
        } else {
            postButtonListener.setAttribute("disabled", true);
        };
    });
</script>