<div id="create-post" class="bg-white container rounded shadow-sm create-post mb-5 mt-5 p-2">
    <!-- Multipart required for image upload -->
    <form id="imageForm" enctype="multipart/form-data">
        <div class="d-flex">
            <img height="50" width="50" src="<%= currentAccount.pictureUrl %>" class="rounded-circle shadow-sm mr-2"
                alt="profile-picture">
            <input type="text" style="height: inherit;" class="form-control" name="text" id="postTextarea"
                placeholder="Create post">
            <button class="btn btn-primary ml-2" id="postButton" type="button" disabled>Post</button>
        </div>
        <hr class="solid" />
        <div class="d-flex">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#photoModal">
                <i class="fas fa-file-image"></i>
                Photo
            </button>

            <!-- Modal -->
            <div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="photoModalLabel">Upload a photo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input id="imageUpload" accept="image/gif, image/jpeg, image/png" type="file" name="image"
                                onchange="readURL(this)" />
                            <img class="container" id="imagePreview" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    let postTextListener = document.getElementById("postTextarea");
    let postButtonListener = document.getElementById("postButton");
    postTextListener.addEventListener("keyup", () => {
        if (postTextListener.value.length > 0) {
            postButtonListener.removeAttribute("disabled");
        } else {
            postButtonListener.setAttribute("disabled", true);
        };
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $("#imagePreview")
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>