<div class="container create-post mb-5 mt-5">
    <h2 class="h2 mb-3">Create a post</h2>
    <div>
        <textarea rows="5" required minlength="10" class="form-control mb-3" name="text" id="postTextarea" required
            placeholder="What are you thinking about, <%= currentAccount.firstName %>?"></textarea>
    </div>
    <button class="btn btn-primary btn-block mb-2" id="postButton" type="submit">
        Post
    </button>
</div>