<div id="container">
    <div class="container mb-5">
        <h1 class="mb-4">Create a post</h1>
        <div>
            <textarea rows="5" required minlength="10" class="form-control mb-3" name="text" id="postTextarea" required
                placeholder="What are you thinking about, <%= currentAccount.firstName %>?"></textarea>
        </div>
        <button class="btn btn-primary mb-2 w-100" id="postButton" type="submit">
            Post
        </button>
    </div>
</div>