<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title><%= title %></title>

    <meta name="title" content="ArmSocial — Socialize like a pro">
    <meta name="description" content="ArmSocial is connecting people from all around the globe. Join today!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <meta property="og:title" content="ArmSocial — Socialize like a pro">
    <meta property="og:description" content="ArmSocial is connecting people from all around the globe. Join today!">
    <meta property="og:image" content="https:///static/meta/meta-cover.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="/">
    <meta property="twitter:title" content="ArmSocial — Socialize like a pro">
    <meta property="twitter:description"
        content="ArmSocial is connecting people from all around the globe. Join today!">
    <meta property="twitter:image" content="https:///static/meta/meta-cover.png">

    <!-- Web App Manifest -->
    <link rel="manifest" href="/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="ArmSocial">
    <meta name="apple-mobile-web-app-title" content="ArmSocial">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-navbutton-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">

    <!-- Navbar CSS -->
    <link rel="stylesheet" href="/dist/css/nav/style.css" />

    <!-- Shared CSS across all documents -->
    <link rel="stylesheet" href="/dist/shared/css/style.css" />

    <!-- Fonts -->
    <link rel="stylesheet" href="/font/stylesheet.css" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css" />

    <!-- FontAwesome Icons -->
    <script src="https://kit.fontawesome.com/117e68170b.js"></script>

</head>

<body class="bg-light">