<nav class="navbar navbar-light bg-light">
    <style>
        nav {
            display: flex;
        }

        .icn-home {
            background:
                linear-gradient(to left,
                    currentColor 5px, transparent 0) no-repeat 0 bottom/4px 2px,
                linear-gradient(to left,
                    currentColor 5px, transparent 0) no-repeat right bottom/4px 2px;
            box-sizing: border-box;
            position: relative;
            display: block;
            transform: scale(var(--ggs, 1));
            width: 18px;
            height: 14px;
            border: 2px solid;
            border-top: 0;
            border-bottom: 0;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            margin-bottom: -2px
        }

        .icn-home::after,
        .icn-home::before {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute
        }

        .icn-home::before {
            border-top: 2px solid;
            border-left: 2px solid;
            border-top-left-radius: 4px;
            transform: rotate(45deg);
            top: -5px;
            border-radius: 3px;
            width: 14px;
            height: 14px;
            left: 0
        }

        .icn-home::after {
            width: 8px;
            height: 10px;
            border: 2px solid;
            border-radius: 100px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: 0;
            left: 3px;
            bottom: 0
        }

        a img {
            border-radius: 2rem;
        }
    </style>
    <a class="navbar-brand" href="#">
        <img src="/img/logo.png" alt="logo" width="64">
    </a>
    <a class="navbar-brand" href="/">
        <div class="icn-home uk-margin-left uk-margin-top"></div>
        <span>Home</span>
    </a>
    <div class="uk-margin">
        <form action="/search/" class="uk-search uk-search-default">
            <input class="uk-search-input" type="search" placeholder="Search...">
            <button type="submit" class="uk-search-icon-flip" uk-search-icon></button>
        </form>
    </div>
    <div>
        <form action="/logout/<%= currentAccount._id%>" method="POST">
            <p>Logged in as: <a href="/user/<%= currentAccount._id %>"><%= currentAccount.fullName %></a></p>
            <button type="submit">Logout</button>
        </form>
    </div>
</nav>