<ul id="nav" class="nav justify-content-center sticky-top bg-white pr-5 pl-5 pt-3 pb-1 mb-3">
  <li class="nav-item">
    <a class="nav-link" href="/"> Home </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/users"> Users </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/user/<%= currentAccount._id %>"><i class=""></i> My Account </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/settings">
      Settings
    </a>
  </li>

  <li class="nav-item">
    <a href="#!" class="nav-link" id="submitLogout" type="submit">
      Logout
      <form class="nav-link" id="logout" method="POST" action="/logout/<%= currentAccount._id %>"></form>
    </a>
  </li>
</ul>