<ul id="nav" class="nav justify-content-center sticky-top bg-white mt-3 mb-3">
  <li class="nav-item">
    <a class="nav-link text-dark" href="/"><i class="fas fa-home"></i></a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-dark" href="/users"><i class="fas fa-users"></i></a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-dark" href="/user/<%= currentAccount._id %>"><i class="fas fa-user"></i></a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-dark" href="/settings"><i class="fas fa-cog"></i></a>
  </li>

  <li class="nav-item">
    <a href="#!" class="nav-link text-dark" id="submitLogout">
      <i class="fas fa-sign-out-alt">
        <form id="logout" method="POST" class="bg-transparent" action="/logout/<%= currentAccount._id %>"></form>
      </i>
    </a>
  </li>
</ul>
<!-- Nav -->
<script src="/js/nav/script.js"></script>