<nav style="display: flex">
  <ul>
    <li>
      <a href="/"> Home </a>
    </li>

    <li>
      <a href="/users"> Users </a>
    </li>

    <li>
      <a href="/user/<%= currentAccount._id %>"> My Account </a>
    </li>

    <li>
      <form
        id="logout"
        method="POST"
        action="/logout/<%= currentAccount._id %>"
      >
        <a href="#!" id="submitLogout" type="submit"> Logout </a>
      </form>
    </li>
  </ul>
</nav>
