<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h4 class="title is-4">ArmSocial</h4>
        </a>

        <a role="button" id="navbar-burger" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="home-link navbar-item ">
                <svg id="homeSVG" style="width: 25px; height: 25px">
                    <use xlink:href='/svg/all.svg#gg-home-alt' /></svg>
                Home
            </a>

            <a class="navbar-item " href="/users">
                <svg id="usersSVG" style="width: 25px; height: 25px">
                    <use xlink:href='/svg/all.svg#gg-user-list' /></svg>
                Users
            </a>

            <a class="navbar-item " href="/search">
                <svg id="searchSVG" style="width: 25px; height: 25px">
                    <use xlink:href='/svg/all.svg#gg-search' /></svg>
                Search
            </a>

            <!-- Dropdown -->
            <div class="navbar-item has-dropdown is-hoverable ">
                <a class="navbar-link">
                    <svg id="moreSVG" style="width: 25px; height: 25px">
                        <use xlink:href='/svg/all.svg#gg-more-alt' /></svg>
                    More
                </a>


                <div class="navbar-dropdown" style="align-items: center; text-align: center;">
                    <div class="navbar-item">
                        <a href="/user/<%= currentAccount._id %>">
                            My Account
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a href="/user/settings">
                            Settings
                        </a>
                    </div>
                    <hr class="navbar-divider">
                    <div class="navbar-item">
                        <form action="/logout/<%= currentAccount._id %>" method="POST">
                            <button class="button is-danger" type="submit">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<!-- 
        <div class="navbar-end">
            <div class="image-link navbar-item uk-margin-right">
                <a href="/user/<%#= currentAccount._id %>">
                    <%#= currentAccount.fullName %>
                </a>
            </div>
        </div> -->
    </div>
</nav>