<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="flex align-middle justify-center">
      <main class="max-w-3xl p-2">
        <div class="p-8 rounded-xl border-4">
          <div class="space-y-2">
            <h1 class="text-center text-4xl font-bold text-purple-400">
              Polygon
            </h1>
            <h3 class="text-center text-xl font-semibold">
              Email verification
            </h3>
          </div>

          <hr class="border-solid rounded-full my-4" />

          <div class="mt-4 flex align-middle justify-center">
            <div class="space-y-2 text-lg">
              <p>Dear <span class="font-bold">{{name}}</span>,</p>
              <p>
                Thanks for taking time and filling out the registration form for
                joining
                <a
                  rel="noopener noreferrer"
                  target="_blank"
                  class="font-bold text-purple-400 hover:text-purple-500"
                  href="{{frontendUrl}}"
                  >Polygon</a
                >!
              </p>
              <p
                class="
                  text-sm
                  font-bold
                  xl:text-xl xl:font-semibold
                  md:text-lg md:font-semibold
                  italic
                "
              >
                To keep our platform safe from spam, we kindly ask everyone who
                wants to register on our platform to verify their emails.
              </p>
              <p>Please verify your email, by clicking on the button below</p>
              <p class="py-4 flex align-middle justify-center">
                <a
                  rel="noreferrer noopener"
                  target="_blank"
                  class="bg-purple-500 p-2 rounded-md text-white font-semibold"
                  href="{{frontendUrl}}/welcome?verification={{token}}"
                  >Verify your email</a
                >
              </p>
              <p class="font-semibold text-red-400 text-sm md:text-lg">
                If you are
                <span class="underline font-extrabold">NOT</span> trying to sign
                up for
                <a
                  rel="noopener noreferrer"
                  target="_blank"
                  href="{{frontendUrl}}"
                  >Polygon</a
                >, you can safely ignore this email.
              </p>

              <p>Regards,</p>
              <p>Polygon Team.</p>

              <hr class="border-solid rounded-full" />

              <p>
                <small class="font-semibold text-purple-400"
                  >The verification link is valid for only
                  <span class="font-bold">5 minutes</span></small
                >
                <br />
                <small class="font-semibold text-gray-400"
                  >This request was sent from IP Address
                  <span class="font-bold">{{ip}}</span> at
                  <span class="font-bold">{{time}}</span></small
                >
              </p>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
