body {
    text-align: center;
}

h1, h5, h3, h4, h6, p, a {
    text-align: center;
}

.profile-picture {
    border-radius: 5rem;
    width: 128px;
    height: 128px;
    object-fit: cover;
    object-position: left;
}

.picture {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.account {
    width: 100%
}