<%- include ("./partials/header") %>
<%- include ("./partials/nav") %>

<div class="container mt-5">
    <h2>
        <i class="fas fa-bell"></i>
        Notifications
    </h2>
    <div class="mt-5">
        <ul class="list-group" id="notifications">
        </ul>
    </div>
</div>

<script src="/dist/js/notifications.min.js"></script>
<%-include ("./partials/footer") %>