<%- include ("./partials/head") %>
<%- include ("./partials/nav") %>

<!-- <link rel="stylesheet" href="/css/notifications/style.css" /> -->

<div class="container mt-5">
    <h1><u>Notifications</u></h1>
    <div class="notifications mt-5">
        <ul class="list-group" id="notifications">
        </ul>
    </div>
</div>

<script src="/js/notifications/script.js"></script>
<%-include ("./partials/footer") %>