<%- include ("./partials/header") %>
<%- include ("./partials/nav") %>


<div class="container">
  <%-include ("./partials/createPost") %>
</div>

<div class="posts container" id="posts"></div>


<script src="/dist/shared/js/getCookie.min.js"></script>
<script type="module" src="/dist/js/platform.min.js"></script>
<%-include ("./partials/footer") %>