<%- include ("./partials/header") %>
<%- include ("./partials/nav") %>

<link rel="stylesheet" href="/dist/css/platform/style.css" />

<div class="container">
  <%-include ("./partials/createPost") %>
</div>

<div class="posts container" id="posts"></div>


<script src="/dist/shared/js/getCookie.min.js"></script>
<script src="/dist/shared/js/loader.min.js"></script>
<script type="module" src="/dist/js/platform/script.min.js"></script>
<%-include ("./partials/footer") %>