<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/platform/style.css">
    <%- include ("./partials/cssPartials") %>
    <title>ArmSocial | Platform</title>
</head>

<body>

    <%- include ("./partials/nav") %>


    <div class="container">
        <div class="createPost" id="createPost">

        </div>
    
        <div class="posts">
    
        </div>
    </div>

    <%- include ("./partials/jsPartials") %>
</body>

</html>