<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/platform/style.css" />
    <%- include ("./partials/cssPartials") %>
    <title>ArmSocial | Platform</title>
  </head>

  <body>
    <%- include ("./partials/nav") %>

    <h1 align="center">Create a post</h1>
    <div
      class="createPost-container"
      id="createPost"
    >
      <div id="create">
        <div>
          <textarea
            name="text"
            id="postTextarea"
            required
            placeholder="What are you thinking about, <%= currentAccount.firstName %>?"
          ></textarea>
        </div>
      </div>
      <button id="postButton">Post</button>
    </div>

    <div
      class="posts"
      id="posts"
    ></div>

    <%- include ("./partials/jsPartials") %>
    <script src="/js/platform/script.js"></script>
  </body>
</html>
