<%- include ("./partials/head") %>
<%- include ("./partials/nav") %>

<div class="container">
  <%-include ("./partials/createPost") %>
</div>

<div class="posts container" id="posts"></div>
</div>
<script src="/js/platform/script.js"></script>
<%-include ("./partials/footer") %>