<%- include ("./partials/header") %>
<%- include ("./partials/nav") %>

<link rel="stylesheet" href="/css/platform/style.css" />

<div class="container">
  <%-include ("./partials/createPost") %>
</div>

<div class="posts container" id="posts"></div>


<script src="/shared/js/getCookie.js"></script>
<script src="/shared/js/loader.js"></script>
<script src="/js/platform/script.js"></script>
<%-include ("./partials/footer") %>