<%- include ("./partials/head") %>
  <div class="container mt-5">
    <div class="container-sm mt-5 w-75">
      <form id="form" class="form-group container-sm" action="/auth/register" method="POST">
        <h1 align="center" class="mb-3">Welcome to ArmSocial</h1>

        <div id="nameInput">
          <input class="form-control" aria-label="firstName" required id="firstName" name="firstName" type="text"
            placeholder="First Name" />

          <br />

          <input class="form-control" aria-label="lastName" required id="lastName" type="text" name="lastName"
            placeholder="Last Name" />
        </div>

        <br />

        <input class="form-control" aria-label="email" required id="email" name="email" type="email"
          placeholder="Email" />

        <div id="emailStatus" class="emailDuplicate"></div>

        <br />

        <input class="form-control" aria-label="password" required id="password" name="password" type="password"
          placeholder="Password" minlength="8" />

        <br />

        <textarea class="form-control" aria-label="bio" name="bio" id="bio" rows="2"
          placeholder="Enter your biography..."></textarea>

        <br />

        <label for="avatar">Profile picture ( Optional )</label>
        <input class="form-control" accept="image/x-png,image/gif,image/jpeg" name="avatar" id="avatar" type="file" />

        <div id="imgError" class="imgError"></div>

        <br />

        <label for="privateCheck">
          Private Account
          <input name="privateCheck" type="checkbox" value="false" id="privateCheck" /></label>

        <br />

        <button id="submitButton" class="btn btn-primary" type="submit">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden
            id="loadingSpinner"></span>
          Register
        </button>
        <br />
        <p class="mt-2">Have an account? <a href="/auth/login">Login</a></p>
      </form>
    </div>
  </div>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-storage.js"></script>

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyCz8yxHbNpwx-Ga16DbyS_YM4p2EETGSl0",
      authDomain: "arm-social.firebaseapp.com",
      databaseURL: "https://arm-social.firebaseio.com",
      projectId: "arm-social",
      storageBucket: "arm-social.appspot.com",
      messagingSenderId: "909122030162",
      appId: "1:909122030162:web:d69103f21efd47cb45ad8b",
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>
  <script src="/js/register/script.js"></script>
<%- include ("./partials/footer") %>