<%- include ("./partials/header") %>

<link itemprop="url" rel="stylesheet" href="/css/register/style.css" />

<form id="form" class="form-register" action="/auth/register" method="POST" enctype="multipart/form-data">
  <h1 align="center">
    <img class="mb-4" src="/favicon.ico" alt="" width="72" height="72">
  </h1>
  <h1 class="h3" align="center">Welcome to ArmSocial</h1>
  <div class="d-flex mt-3">
    <input autocomplete="given-name" class="form-control w-50" aria-label="firstName" required id="firstName"
      name="firstName" type="text" placeholder="First Name" />
    &nbsp;
    &nbsp;
    <input autocomplete="given-name" class="form-control w-50" aria-label="lastName" required id="lastName" type="text"
      name="lastName" placeholder="Last Name" />
  </div>

  <div class="input-group mt-3">
    <span class="input-group-text">
      <i class="far fa-envelope"></i>
    </span>
    <input autocomplete="email" class="form-control" aria-label="email" required id="email" name="email" type="email"
      placeholder="Email" />
  </div>


  <div id="emailStatus" class="emailDuplicate"></div>

  <div class="input-group mt-3">
    <span class="input-group-text">
      <i class="fas fa-lock"></i>
    </span>
    <input autocomplete="current-password" class="form-control" aria-label="password" required id="password"
      name="password" type="password" placeholder="Password" minlength="8" />
  </div>

  <div class="input-group mt-3">
    <textarea class="form-control" aria-label="bio" name="bio" id="bio" rows="2"
      placeholder="Enter your biography ( Optional )"></textarea>
  </div>

  <div class="input-group mt-3">
    <span class="input-group-text">
      <i class="fas fa-image"></i>
    </span>
    <input class="form-control" accept="image/x-png,image/gif,image/jpeg" name="avatar" id="avatar" type="file" />
  </div>

  <div id="imgError" class="imgError"></div>

  <label class="mt-3 mb-3" for="privateCheck">
    Private Account
    <input name="privateCheck" type="checkbox" value="false" id="privateCheck" />
  </label>

  <br />

  <!-- <input id="submitButton" class="btn btn-primary mt-1" type="submit" value="Register"></input> -->
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Register
  </button>
  <p class="mt-2">Have an account? <a href="/auth/login">Login</a></p>

</form>


<script src="/js/register/script.js"></script>
<%- include ("./partials/footer") %>