<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArmSocial | Register</title>
    <%- include ("./partials/cssPartials") %>
    <!-- Static CSS -->
    <link rel="stylesheet" href="/css/auth/register/style.css">
</head>

<body>

    <div class="main uk-container-xsmall">
        <div class="uk-margin">
            <form class="form uk-margin-left uk-margin-right" id="form" action="/auth/register" method="POST">
                <h1 align="left" class="title is-1 uk-margin-bottom">Welcome to ArmSocial</h1>

                <input required id="fullName" class="input uk-margin-bottom" name="fullName" type="text"
                    placeholder="Full Name">

                <div id="emailStatus" class="emailDuplicate"></div>

                <input required id="email" class="input uk-margin-bottom" name="email" type="email" placeholder="Email">

                <input required id="password" class="input uk-margin-bottom" name="password" type="password"
                    placeholder="Password" minlength="8">

                <textarea class="textarea uk-margin-bottom" name="bio" id="bio" rows="2" maxlength="100"
                    placeholder="Enter your biography..."></textarea>

                <label class="uk-margin-top" for="avatar">Profile picture</label>
                <input accept="image/x-png,image/gif,image/jpeg" class="input" name="avatar" id="avatar" type="file"
                    required>
                <small>JPG, PNG, GIF</small>
                <div id="imgError" class="imgError"></div>

                <div class="form-check uk-margin-top uk-margin-bottom">
                    <input name="privateCheck" class="form-check-input" type="checkbox" value="false" id="privateCheck">
                    <label class="form-check-label" for="privateCheck">
                        Private Account
                    </label>
                </div>

                <button id="submitButton" class="button is-primary" type="submit">Register</button>
                <br>
                <p class="uk-margin-medium-top">Have an account? <a href="/auth/login">Login</a></p>

            </form>
        </div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-storage.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCz8yxHbNpwx-Ga16DbyS_YM4p2EETGSl0",
            authDomain: "arm-social.firebaseapp.com",
            databaseURL: "https://arm-social.firebaseio.com",
            projectId: "arm-social",
            storageBucket: "arm-social.appspot.com",
            messagingSenderId: "909122030162",
            appId: "1:909122030162:web:d69103f21efd47cb45ad8b"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

    </script>

    <script src="/js/register/script.js"></script>
    <% include ("./partials/jsPartials") %>
</body>

</html>