<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include ("./partials/metaPartials") %>
    <title>ArmSocial | Register</title>
    <%- include ("./partials/cssPartials") %>
    <!-- Static CSS -->
    <link rel="stylesheet" href="/css/auth/register/style.css" />
  </head>

  <body>
    <div>
      <div>
        <form id="form" action="/auth/register" method="POST">
          <h1 align="left">Welcome to ArmSocial</h1>

          <div id="nameInput">
            <input
              aria-label="firstName"
              required
              id="firstName"
              name="firstName"
              type="text"
              placeholder="First Name"
            />

            <br />

            <input
              aria-label="lastName"
              required
              id="lastName"
              type="text"
              name="lastName"
              placeholder="Last Name"
            />
          </div>

          <div id="emailStatus" class="emailDuplicate"></div>

          <br />

          <input
            aria-label="email"
            required
            id="email"
            name="email"
            type="email"
            placeholder="Email"
          />

          <br />

          <input
            aria-label="password"
            required
            id="password"
            name="password"
            type="password"
            placeholder="Password"
            minlength="8"
          />

          <br />

          <textarea
            aria-label="bio"
            name="bio"
            id="bio"
            rows="2"
            maxlength="100"
            placeholder="Enter your biography..."
          ></textarea>

          <br />

          <label for="avatar">Profile picture( Optional )</label>
          <input
            accept="image/x-png,image/gif,image/jpeg"
            name="avatar"
            id="avatar"
            type="file"
          />

          <div id="imgError" class="imgError"></div>

          <br />

          <div>
            <input
              name="privateCheck"
              type="checkbox"
              value="false"
              id="privateCheck"
            />
            <label for="privateCheck"> Private Account </label>
          </div>

          <button id="submitButton" type="submit">Register</button>
          <br />
        </form>
        <p>Have an account? <a href="/auth/login">Login</a></p>
      </div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-storage.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyCz8yxHbNpwx-Ga16DbyS_YM4p2EETGSl0",
        authDomain: "arm-social.firebaseapp.com",
        databaseURL: "https://arm-social.firebaseio.com",
        projectId: "arm-social",
        storageBucket: "arm-social.appspot.com",
        messagingSenderId: "909122030162",
        appId: "1:909122030162:web:d69103f21efd47cb45ad8b",
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>

    <script src="/js/register/script.js"></script>
    <% include ("./partials/jsPartials") %>
  </body>
</html>
