<%- include ("./partials/head") %>
<%- include ("./partials/nav") %>

<h1 align="center">Settings</h1>
<div class="container">
  <ul class="list-group rounded shadow-sm">
    <li class="list-group-item">
      <div id="privacyTab">
        <h4>Change your privacy settings</h4>
        <% if(currentAccount.isPrivate == true) {%>
        <div class="custom-control custom-switch checked">
          <input checked id="isPrivate" type="checkbox" name="privacy" class="custom-control-input" />
          <label class="custom-control-label" for="isPrivate"><span id="currentStatus">Private Account</span></label>
        </div>
        <% } %>
        <%if(currentAccount.isPrivate == false) {%>
        <div class="custom-control custom-switch">
          <input id="isPrivate" type="checkbox" name="privacy" class="custom-control-input" />
          <label class="custom-control-label" for="isPrivate"><span id="currentStatus">Public Account</span></label>
        </div>
        <% } %>
        <p id="acUpdateStatus"></p>
      </div>
    </li>
    <li class="list-group-item">
      <div>
        <h4>Get Started deleting your account</h4>
        <button class="btn btn-outline-danger" id="deleteAccount">Delete Your Account</button>
        <div id="message" class="message"></div>
      </div>
    </li>
  </ul>
</div>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-storage.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCz8yxHbNpwx-Ga16DbyS_YM4p2EETGSl0",
    authDomain: "arm-social.firebaseapp.com",
    databaseURL: "https://arm-social.firebaseio.com",
    projectId: "arm-social",
    storageBucket: "arm-social.appspot.com",
    messagingSenderId: "909122030162",
    appId: "1:909122030162:web:d69103f21efd47cb45ad8b",
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
<script src="/js/settings/script.js"></script>
<%- include ("./partials/footer") %>