<%- include ("./partials/head") %>
<%- include ("./partials/nav") %>

<h1 align="center" class="mb-5">Settings</h1>

<div class="container">
  <ul class="list-group rounded shadow-sm">
    <li class="list-group-item">
      <div id="privacyTab">
        <h4>Change your privacy settings</h4>
        <% if(currentAccount.isPrivate == true) {%>
        <div class="custom-control custom-switch checked">
          <input checked id="isPrivate" type="checkbox" name="privacy" class="custom-control-input" />
          <label class="custom-control-label" for="isPrivate"><span id="currentStatus">Private Account</span></label>
        </div>
        <% } %>
        <%if(currentAccount.isPrivate == false) {%>
        <div class="custom-control custom-switch">
          <input id="isPrivate" type="checkbox" name="privacy" class="custom-control-input" />
          <label class="custom-control-label" for="isPrivate"><span id="currentStatus">Public Account</span></label>
        </div>
        <% } %>
        <p id="acUpdateStatus"></p>
      </div>
    </li>
    <li class="list-group-item">
      <div>
        <h4>Get Started deleting your account</h4>
        <button class="btn btn-outline-danger" id="deleteAccount">Delete Your Account</button>
        <div id="message" class="message"></div>
      </div>
    </li>
  </ul>
</div>

<script src="/js/settings/script.js"></script>
<%- include ("./partials/footer") %>