/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190);
  border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(131, 131, 131);
}

.post {
  .submitDeleteForm {
    visibility: hidden;
  }
}
.post:hover {
  .submitDeleteForm {
    visibility: visible;
  }
}

.nav-item {
  transition: ease-in-out 300ms;
  margin-right: .5rem;
  border-radius: .5rem;
}

.nav-item:hover {
  background-color: rgb(212, 212, 212);
}