/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190);
  border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(131, 131, 131);
}

.post {
  .submitDeleteForm {
    visibility: hidden;
  }
}
.post:hover {
  .submitDeleteForm {
    visibility: visible;
  }
}

.nav-item {
  transition: ease-in-out 300ms;
  margin-right: .5rem;
  border-radius: .5rem;
}

.nav-item:hover {
  background-color: rgb(212, 212, 212);
}

// Loader
.loader {
  margin: 0 auto;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 72px;
  height: 72px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 500ms linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}