nav {
  z-index: 999;
}

.user-image {
  border-radius: 2rem;
  object-fit: cover;
  object-position: left;
  width: 25px;
  height: 25px;
}

.navbar-dropdown {
  text-align: left;
  align-items: flex-end;
  justify-content: left;
}
