<%- include ("./partials/header") %>

<link rel="stylesheet" href="/dist/css/login.css" />

<form id="form" class="form-signin" action="login" method="POST">
  <h1 align="center">
    <img class="mb-4" src="/favicon.ico" alt="" width="72" height="72" />
  </h1>
  <h1 align="center" class="h3 mb-3 font-weight-normal">Please sign in</h1>

  <div class="input-group">
    <input
      autofocus
      class="form-control"
      required
      id="email"
      name="email"
      type="email"
      placeholder="Email"
    />
  </div>

  <div class="input-group">
    <input
      class="form-control"
      required
      id="password"
      name="password"
      type="password"
      placeholder="Password"
      minlength="8"
    />
  </div>

  <div class="err mb-3 mt-1">
    <% if (locals.err) {%>
    <small> <%= err %> </small>
    <%}%>
  </div>
  <input class="btn btn-lg btn-primary w-100" type="submit" value="Sign In" />
  <p class="mt-3">Don't have an account? <a href="/auth/register" class="text-link">Register</a></p>
</form>

<%- include ("./partials/footer") %>
