<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | ArmSocial</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <h1><%= status %>&nbsp;<%= err %></h1>
    <h4><a href="/">Go back to the homepage</a></h4>
</body>
</html>