<div id="create-post" class="bg-white container rounded shadow-sm create-post mb-5 mt-5 p-2">
  <!-- Multipart required for image upload -->
  <form enctype="multipart/form-data">
    <div class="d-flex">
      <img
        height="50"
        width="50"
        src="<%= currentAccount.pictureUrl %>"
        class="rounded-circle shadow-sm"
        alt="profile-picture"
      />
      <input
        type="text"
        style="height: inherit"
        class="form-control ml-2"
        name="text"
        id="postTextarea"
        placeholder="Create post"
      />
      <button class="btn btn-info ml-2" id="postButton" type="button" disabled>POST</button>
    </div>
    <hr class="solid" />
    <div class="d-flex">
      <!-- Photo -->
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-light border btn-block mr-2"
        data-toggle="modal"
        data-target="#photoModal"
      >
        <i class="fas fa-camera"></i>
        Photo
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="photoModal"
        tabindex="-1"
        aria-labelledby="photoModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="photoModalLabel">Upload a photo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input
                id="imageUpload"
                accept="image/gif, image/jpeg, image/png"
                type="file"
                name="image"
                onchange="readURL(this)"
              />
              <img class="container" id="imagePreview" />
            </div>
          </div>
        </div>
      </div>

      <!-- Video -->
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-light border btn-block mr-2"
        data-toggle="modal"
        data-target="#videoModal"
      >
        <i class="fas fa-video"></i>
        Video
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="videoModal"
        tabindex="-1"
        aria-labelledby="videoModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="videoModalLabel">Upload a video</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input
                id="videoUpload"
                accept="video/mp4,video/x-m4v,video/*"
                type="file"
                name="video"
              />
            </div>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-light border btn-block mr-2">
        <i class="fas fa-link"></i>
        Link
      </button>
    </div>
  </form>
</div>
<script>
  let form = document.getElementById("create-post");
  let postText = document.getElementById("postTextarea");
  let postButton = document.getElementById("postButton");
  function checkPostButtonState() {
    if (postText.value.length === 0) {
      postButton.setAttribute("disabled", true);
    } else {
      postButton.removeAttribute("disabled");
    }
  }

  postText.onkeyup = checkPostButtonState;
  postButton.onclick = checkPostButtonState;
  document.body.onclick = checkPostButtonState;

  // To prevent user from creating a post using the key 13
  form.addEventListener("submit", (evt) => {
    evt.preventDefault();
  });

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $("#imagePreview").attr("src", e.target.result);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
