<script>
    switch (window.location.pathname) {
        case "/auth/register": {
            let tag = document.createElement("link");
            tag.rel = "stylesheet"
            tag.href = "/dist/css/register.css";
            document.head.appendChild(tag);
        }
        case "/auth/login": {
            let tag = document.createElement("link");
            tag.rel = "stylesheet"
            tag.href = "/dist/css/login.css";
            document.head.appendChild(tag);
        }
        default: {
            let tag = document.createElement("link");
            let script = document.createElement("script");
            script.src = "/dist/js/ui.min.js";
            tag.rel = "stylesheet"
            tag.href = "/dist/css/bundle.css";
            document.head.appendChild(tag);
            document.body.appendChild(script)
        }
    }
</script>
<script src="https://kit.fontawesome.com/6302e38cae.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>