*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    margin: 5% auto;
}

#imgError {
    color: rgb(255, 100, 100);
}

.emailDuplicate {
    color: rgb(255, 100, 100);
}