html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

img {
  border-radius: 1rem;
}

.form-register {
  margin: 0 auto;
  padding: 2rem;
}

.error {
  color: rgb(255, 100, 100) !important;
}

.ok {
  color: rgb(10, 180, 40) !important;
}
