html,body {
    background-color: #FAFAFA;
}

.main {
    width: 100%;
    height: 100%;
    margin: 5% auto;
    background-color: #FAFAFA;
}

.nameInput {
    display: flex;
}

.error {
    color: rgb(255, 100, 100) !important;
}

.ok {
    color: rgb(10, 180, 40) !important;
}
